<!-- <mat-sidenav-container>
  <mat-nav-list *ngFor="let catalogo of catalogos">
      <a mat-list-item routerLinkActive="active current" [routerLink]="['/catalogos', catalogo.id]">
        <span class="badge"></span>{{catalogo.categoria}}
      </a>
  </mat-nav-list>
</mat-sidenav-container>
<mat-sidenav-container class="mt-4">
  <mat-sidenav>
    <mat-nav-list  *ngFor="let catalogo of catalogos">
     <a mat-list-item routerLinkActive="active current" (click)="getMarcas(catalogo.id)">
        <span class="badge"></span>{{catalogo.categoria}}
    </a>

      </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content class="marcaContenido">

    <mat-nav-list  *ngFor="let marca of marca">
        <a mat-list-item routerLinkActive="active current" [routerLink]="['/catalogos',marca.categoria, marca.marca, marca.id]" >
           <span class="badge"></span>{{marca.marca}}
       </a>
   </mat-nav-list>

</mat-sidenav-content>
</mat-sidenav-container> -->


  <div class="link_catalogo">
  <mat-nav-list style="height: auto; padding-left: 30px" *ngFor="let catalogo of catalogos">
    <a mat-list-item routerLinkActive="active current" class="active" class="selected" style="font-size: 15px;" (mouseenter)="getMarcas(catalogo.id)">
      {{catalogo.categoria}}<span class="badge"><i class="fas fa-chevron-right"></i></span></a>
 </mat-nav-list>

  </div>
  <div style="position: relative; left: 200px; bottom: 580px; background-color: aqua">
    <mat-nav-list  style="height: auto"  *ngFor="let marca of marca">
      <a mat-list-item routerLinkActive="active current" [routerLink]="['/catalogos',marca.categoria, marca.marca, marca.id]">
         <span class="badge"></span>{{marca.marca}}
     </a>
    </mat-nav-list>
   </div>


















