.mat-sidenav-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 50;;
  height: 600px;
}

.mat-drawer-content{
height: auto;
}
mat-slidenav, mat-sidenav-content{
padding: 0px;
}

mat-sidenav{
   background-color:#007bff;
   width: 250px;
   height: 100%;

}

.center {
  position: absolute;

}

/* mat-grid-list{
  background-color: aqua;
} */

mat-grid-list  {
  background-color: aqua;
}



/* .fa-shopping-cart{
color: #007bff;
position: absolute;
bottom: 5em;
} */

.carritoButton{
position: absolute;
right: 1px;
top: 9mm;
}
