/* .mat-sidenav-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 50;;
  height: 600px;
} */

.mat-drawer-content {
    width: 100px;
}

mat-sidenav-cotainer {
    padding: 0px;
}

.marcaContenido {
    width: 100px;
}

.center {
    position: absolute;
}


/* mat-grid-list{
  background-color: aqua;
} */

.mat-list-item {
    font-size: 15px;
    margin-bottom: -15px;
}

.mat-nav-list:hover {
    background-color: yellow;
}


/* .fa-shopping-cart{
color: #007bff;
position: absolute;
bottom: 5em;
} */

.link_catalogo {
    background-color: #ddd;

}

.fa-chevron-right {
    position: absolute;
    left: 140px;
}

.marca-catalogo {
    background-color: white;
    position: relative;
    left: 200px;
    bottom: 290px;
}
