<div class="link_catalogo">
    <mat-nav-list style=" padding-left: 30px" *ngFor="let catalogo of catalogos">

        <a mat-list-item routerLinkActive="active current" class="active" class="selected" style="font-size: 15px;" (mouseenter)="getMarcas(catalogo.id)">
      {{catalogo.categoria}}<span class="badge"><i class="fas fa-chevron-right"></i></span></a>
    </mat-nav-list>

</div>
<div class="marca-catalogo">
    <mat-nav-list style="height: auto" *ngFor="let marca of marca">

        <a mat-list-item routerLinkActive="active current" [routerLink]="['/catalogos',marca.categoria,marca.marca,marca.id]">
            <span class="badge"></span>{{marca.marca}}
        </a>
    </mat-nav-list>
</div>
