<body *ngFor="let producto of productos">
  <div class="row" style="height: 600px;">
    <div class="col-md-6">
      <img [src]="producto.imagen" class="img-fluid" id="producto-imagen">
    </div>
    <div class="col-md-6">
      <mat-tab-group dynamicHeight>
        <mat-tab label="DESCRIPCIÓN">

          <form novalidate (ngSubmit)="addPseleccionado(carroCompraForm)" #carroCompraForm="ngForm">

            <mat-card class="mb-4">
              <mat-card-title>{{producto.Producto}}</mat-card-title>
              <input name="id" type="hidden" [(ngModel)]="producto.Producto_id">
              <input name="producto" type="hidden" [(ngModel)]="producto.Producto">
              <mat-card-content>

                <p><span>Precio: $ </span>{{producto.Valor_Venta | currency  :  "COP"}}</p>
                <input name="valorVenta" type="hidden" [(ngModel)]="producto.Valor_Venta">

                <ng-template *ngIf="producto.Existencia > 0; then showBlock; else notShowBlock"></ng-template>

                <ng-template #showBlock>
                  <div>
                    <label id="radio-group-label">Color</label>
                    <br>
                    <mat-radio-group name="color" [(ngModel)]="producto.id" (change)="onChangeColor($event)" required>
                      <mat-radio-button *ngFor="let cproducto of coloresProductos" name="color" [value]="cproducto.id"
                        required>
                        {{cproducto.color}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <p><span>Cantidades disponibles:</span>{{producto.Existencia}}</p>
                  <mat-form-field class="example-full-width">
                    <input matInput name="cantidad" placeholder="Ingrese la cantidad" type="text" required ngModel>
                  </mat-form-field>
                </ng-template>

                <ng-template #notShowBlock>
                  <span id="agotado">Agotado</span>
                </ng-template>
              </mat-card-content>
            </mat-card>
            <button type="submit" class="btn btn-success" [disabled]="carroCompraForm.invalid">Agregar al
              carrito</button>
          </form>

          <div style="background-color: black; height: 220px;">

          </div>

        </mat-tab>
        <mat-tab label="+INFO">
          <p><span>Descripcion: </span>{{producto.Descripcion}}</p>
          <p>{{producto.caracteristicas}}</p>
        </mat-tab>


        <mat-tab label="PREGUNTAS"> </mat-tab>
        <mat-tab label="COMENTARIOS"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12" style="background-color:blue; height: 500px;">


    </div>
  </div>
</body>
