<div class="container ">

        <button class="btn-dialog-close"  mat-stroked-button (click)="onClose()" tabindex="-1"><span><i class="far fa-window-close fa-3x"></i></span></button>

  <div class="row">
    <div class="col-md-6">

<mat-card class="card-detalleProducto">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
     <p>Color</p>
     <p>talla</p>

   </mat-card-content>
  <mat-card-actions mt-4>
    <button mat-button  class="btn btn-info btn-sm">Me gusta</button>
    <button mat-button  class="btn btn-success btn-sm">Agregar al carrito</button>
    <button mat-button  class="btn btn-success btn-sm">Comprar</button>
    <button mat-button  class="btn btn-secondary btn-sm" style="margin-top: 1em;">Share</button>
  </mat-card-actions>
</mat-card>
</div>
<div class="col-md-6">
    <mat-card-content>
        <app-extension-panel-detalle-producto></app-extension-panel-detalle-producto>
    </mat-card-content>
</div>
</div>
</div>







