.card-detalleProducto {
  max-width: 400px;
  max-height: 390px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card{
  padding-top: 23px;
}

mat-card-actions{
position: relative;
bottom: 29px;
padding-top: 40px;
text-align: center;
}

.card-img-top{
  width: 15rem;
  position: relative;
  left: 50px;
}
