<div>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><span><i
        class="far fa-window-close fa-3x"></i></span></button>
</div>


<form class="form-direccion" [formGroup]="FormDireccionesUsuario" (ngSubmit)="onSave(FormDireccionesUsuario.value)"
  novalidate="">
  <input type="hidden" formControlName="idCliente" [value]="user.id">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field hintLabel="Max 30 characters">

          <input matInput #nombre maxlength="30" placeholder="Nombre" formControlName="nombre" type="text">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{nombre.value?.length || 0}}/30</mat-hint>

          <mat-error *ngIf="FormDireccionesUsuario.controls['nombre'].errors?.required">Este campo es
            <strong>requerido</strong></mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['nombre'].errors?.minLength">Minimo caracteres requeridos 3
          </mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['nombre'].errors?.maxLength">Maximo caracteres requeridos 30
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field hintLabel="Max 30 characters">
          <input matInput #apellido maxlength="30" placeholder="Apellido" formControlName="apellido" type="text">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{apellido.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="FormDireccionesUsuario.controls['apellido'].errors?.required">Este campo es <strong>
              requerido</strong></mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['apellido'].errors?.minLength">Minimo caracteres requeridos
            3
          </mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['apellido'].errors?.maxLength">Maximo caracteres requeridos
            30
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field hintLabel="Max 13 characters">
          <span matPrefix>+57 &nbsp;</span>
          <input matInput #celular maxlength="10" placeholder="celular" formControlName="celular" type="tel">

          <mat-error *ngIf="FormDireccionesUsuario.controls['celular'].errors?.required"> Nº de celular is
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['celular'].errors?.minLength">Minimo caracteres
            <strong>requerido</strong> 10</mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['celular'].errors?.maxLength">Maximo caracteres
            <strong>requerido</strong></mat-error>

          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint align="end">{{celular.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Departamento</mat-label>
          <mat-select (selectionChange)="changeId($event.value)" placeholder="Departamento*"
            formControlName="departamento">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let d of departamentos" [value]="d.id">{{d.departamento}}</mat-option>
          </mat-select>
          <mat-error *ngIf="FormDireccionesUsuario.controls['departamento'].errors?.required">Este campo es
            <strong>requerido</strong></mat-error>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Ciudad</mat-label>
          <mat-select placeholder="ciudad" formControlName="ciudad">
            <mat-option *ngFor="let c of ciudades" [value]="c.id">{{c.ciudad}}</mat-option>
          </mat-select>
          <mat-error *ngIf="FormDireccionesUsuario.controls['ciudad'].errors?.required">Este campo es
            <strong>requerido</strong></mat-error>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </td>


      <td>
        <mat-form-field hintLabel="Max 30 characters">
          <input matInput #barrio maxlength="30" placeholder="Barrio" formControlName="barrio" type="text">
          <mat-hint align="end">{{barrio.value?.length || 0}}/30</mat-hint>
          <mat-error *ngIf="FormDireccionesUsuario.controls['barrio'].errors?.required">Este campo es <strong>
              requerido</strong></mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['barrio'].errors?.minLength">Minimo caracteres requeridos 3
          </mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['barrio'].errors?.maxLength">Maximo caracteres requeridos 30
          </mat-error>
          <mat-icon matSuffix>location_city</mat-icon>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>

        <mat-form-field hintLabel="Max 25 characters">
          <input matInput #direccion maxlength="25" placeholder="Direccion" formControlName="direccion" type="text">
          <mat-hint align="end">{{direccion.value?.length || 0}}/25</mat-hint>
          <mat-error *ngIf="FormDireccionesUsuario.controls['direccion'].errors?.required">Este campo es <strong>
              requerido</strong></mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['direccion'].errors?.minLength">Minimo caracteres requeridos
            13</mat-error>
          <mat-error *ngIf="FormDireccionesUsuario.controls['direccion'].errors?.maxLength">Maximo caracteres requeridos
            25</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <p>
    <mat-form-field class="example-full-width">
      <textarea type="text" #datosadicionales maxlength="75" matInput placeholder="Textarea"
        formControlName="datosadicionales"></textarea>
      <mat-hint align="start"><strong>No suministre informacion personal</strong></mat-hint>
      <mat-hint align="end">{{datosadicionales.value.length}} / 75</mat-hint>
      <mat-error *ngIf="FormDireccionesUsuario.controls['datosadicionales'].errors?.required">Este campo es
        <strong> requerido</strong></mat-error>
      <mat-error *ngIf="FormDireccionesUsuario.controls['datosadicionales'].errors?.minLength">Minimo caracteres
        requeridos 13</mat-error>
      <mat-error *ngIf="FormDireccionesUsuario.controls['datosadicionales'].errors?.maxLength">Maximo caracteres
        requeridos 13</mat-error>
      <mat-icon matSuffix>post_add</mat-icon>
    </mat-form-field>
  </p>


  <div class="button-form">
    <button mat-raised-button type="submit" [disabled]="FormDireccionesUsuario.invalid">Guardar</button>
    <button mat-raised-button color="warn" (click)="onClear()">Limpiar</button>
  </div>
