body{
  padding: 100px;
}

nav{
 height: 100px;

}

.navbar-brand, .form-inline {
  position: relative;
  bottom: 23px;

}

.navbar-nav{
   position: relative;
   top: 23px;
   right: 480px;
   font-size: 15px
}

.navbar-right{
  position: relative;
  top: 23px;
  right: 1rem;
}
.form-control {
 width: 400px;

}
.btn-outline-success{
  position: relative;
  left: 17px;
}


