#slider-home{
  padding-top: 95px
}

img{
    width: 100%;
    height: 375px;
}

div.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 155px;
  right: 50;

}


