body {
    background-color: red;
}

.producto-card {
    width: 10rem;
    height: 260px;
    text-align: center;
    margin-bottom: 35px;
    margin-right: 28px;
}

h2 {
    font-size: 2rem;
    position: relative;
    left: 551px;
    padding-top: 6px;
}

.example-header-image {
    background-image: url('https://res.cloudinary.com/dequvdgav/image/upload/v1558927931/ozgtye9pgab5k6q9l3ps.jpg');
    background-size: cover;
}

.container {
    padding-top: 75px;
    padding-left: 200px;
    height: 480px;
}

#menu-usuario {
    width: 50px;
    height: 550px;
    background-color: aqua;
    position: absolute;
    left: 0px;
}

span {
    visibility: hidden;
}

.fas {
    margin-right: 23px;
}


/* .nav-icon:hover:hover,
.nav-list-home:hover,
.nav-list:hover,
.nav-list-user:hover,
.nav-list-shopping:hover,
.nav-list-palette:hover {
    background-color: yellow;
} */

.nav-icon:hover+span {
    visibility: visible;
}
