<!--<p>Email : {{user.email}}</p> -->


<h2>Tus compras</h2>
<div class="container" pb-4 >
  <div class="row">
<mat-card class="producto-card"  *ngFor =" let compra of compras ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{compra.nombre}}</mat-card-title>
    <mat-card-subtitle>{{compra.cantidad}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="compra.imagen"   class="card-img-top justify-content-around">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
</div>
