<!-- <div class="">
    <div class="card">
      <div class="card-body">
           <form  method="post" enctype="multipart/form-data">

              <div class="form-group">
              <input type="text" name="comentario" placeholder="comentario" [(ngModel)]="comentario.comentario" class="form-control" >
              </div>
            <button  class="btn btn-success btn-block" (click)="saveComentario()">
              Save
            </button>
           </form>
          </div>
      </div>
</div> -->



<div>
  <form class="example-form" (ngSubmit)="saveComentario(createComentarioForm)" #createComentarioForm="ngForm">
<div class="title">
 <span>33 comentarios</span>
 <img class="card-img-top  rounded-circle mx-auto d-block">
</div>
<div>
    <input type="hidden" class="form-control" id="usuario"  [(ngModel)]="user.id" name="usuario_id"  minlength="5">
</div>
<div>
    <input type="hidden" class="form-control" id="tipoProducto" [(ngModel)]="d.id" name="producto_id">
</div>

  <mat-form-field class="example-full-width">
    <textarea matInput name="comentario"  id="comentario"  [(ngModel)]="user.name"  placeholder="Leave a comment" required></textarea>
  </mat-form-field>
<!-- <textarea name="comentario" rows="3" id="comentario"  placeholder="comentario"  class="form-control" [(ngModel)]="name" required ></textarea> -->
<div id="btns-comentario">
    <button class="btn btn-sm btn-sm" >Cancelar</button>
    <button class="btn btn-sm btn-sm" (click)="resetForm(createComentarioForm)">Limpiar</button>
    <!--<button class="btn btn-sm btn-sm" (click)="getComentario()">Comentarios</button> -->
    <button type="submit" class="btn btn-success">Comentar</button>

</div>
</form>
</div>

<div class="col s7" >
    <table>
        <thead>
          <th>Usuario</th>
          <th>Comentario</th>
        </thead>
        <tbody>
          <tr *ngFor = "let comentario of comentarios">
              <td>{{comentario.nombre}}</td>
              <td>{{comentario.comentario}}</td>
         </tr>
         </tbody>
      </table>

</div>
  <!-- <div class="comentarios-container" *ngFor = "let comentario of comentarios">
    <img class="card-img-left  rounded-circle mx-auto d-block">
    <span style="position: relative; bottom: 80px;
    left: 20px;">{{comentario.nombre}}</span>


    <mat-form-field style="position: relative; right: 10px; bottom: 60px">
      <input matInput value="{{comentario.comentario}}" readonly>
    </mat-form-field>


    <button mat-icon-button style="position: relative ; left: 23px; bottom: 60px" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Editar</span>
      </button>
      </mat-menu>


    <div class="opciones-comentarios">
       <a href="#"><i class="fas fa-thumbs-up"></i></a>
       <a href="#" ><i class="fas fa-thumbs-down"></i></a>
       <a href="#"><span>Reply</span></a>
    </div>

<mat-form-field style="position: relative;bottom: 40px"  class="example-full-width">
  <textarea matInput   placeholder="Leave a comment" required></textarea>
</mat-form-field>


  </div> -->




