<div class="">
    <div class="card">
      <div class="card-body">
           <form  method="post" enctype="multipart/form-data">

              <div class="form-group">
              <input type="text" name="comentario" placeholder="comentario" [(ngModel)]="comentario.comentario" class="form-control" autofocus>
              </div>
            <button  class="btn btn-success btn-block" (click)="saveComentario()">
              Save
            </button>
           </form>
          </div>
      </div>
</div>
