*{
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  position: relative;

}

img {
  height: 400px;
}

::ng-deep .mat-grid-tile .mat-figure {
  display: none;
}

.mat-grid-tile {
  background-color: aquamarine;
}

#formasPago {
  padding-top: 23px;
}

h2 {
  font-size: 13px;
}

p {
  font-size: 14px;
}

.container {
  position: center;
}


.row {
  position: relative;
  left: 120px;
}



.whats-icon{
  position: relative;
  right: 115px;
}

.fa-truck {
  position: relative;
  left: 130px;
}

.fa-store-alt {
  position: relative;
  left: 100px;
}

#contacto {
  position: relative;
  top: 0.1rem;
}
#tienda {
  position: relative;
  left: 250px;
}
#transporte {
  position: relative;
  left: 100px;
}

.btn-ubicacion{
  padding: 1.3rem 5rem;
  background-color: #0d80fc;
  align-items: center;
  justify-content: center;
  border:  0.1rem solid #0d80fc;
  cursor: pointer;
  position: relative;
  left: 1.6rem;
  border-radius: .3rem;
  overflow: hidden;
}

.btn-ubicacion::before{
  content: 'Ubicanos';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .1rem #333;
  transition: .2s ease;
}

.btn-ubicacion::after{
  content: 'YA!';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  font-size: 1.rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .1rem #333;
  transition: .2s ease;
  opacity: 0;
}

.btn-ubicacion:hover::before{
  transform: translate(-50%,-50%) scale(3);
  opacity: 0;
}
.btn-ubicacion:hover::after{
  transform: translate(-50%,-50%) scale(2);
  opacity: 1;
}


#whatsapp {
  z-index: 9999;
  position: fixed !important;
  top: 500px;
  right: 15px;
}

#whatsapp:hover::before{

}
