body{
  padding-top: 100px;
}

img{
  height: 400px;
}

::ng-deep .mat-grid-tile .mat-figure {
display: none;
}

.mat-grid-tile{
  background-color: aquamarine;
}

/* #banner{
  position: relative;
  top: 67px;
} */

#formasPago{
 padding-top: 23px;
}

h2{
  font-size: 13px;
}

p{
  font-size: 14px;
}



.container {
  position: center;
}
img{
  position: relative;
  left:250px;
}

.row{
  position: relative;
  left:120px;

}

.fa-whatsapp{
  position: relative;
  left: 40px;
}

.fa-truck{
  position: relative;
  left: 130px;
}

.fa-store-alt{
  position: relative;
  left: 100px;
}

#contacto{
 width: 10rem;
}
#tienda{
  position: relative;
  left: 250px;
}
#transporte{
  position: relative;
  left: 100px;
}
