<h2 class="text-center">Conoce nuestros productos destacados</h2>
<div class="container">
  <div class="row">
     <div class="col-md-3"  *ngFor="let producto of productosDestacados">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{producto.nombre}}</mat-card-title>

        </mat-card-header>
        <img mat-card-image [src]="producto.imagen" alt="Photo of a Shiba Inu" (click)="showImage()">
        <mat-card-content>
        <h6 style="text-align: center;">Ventas completadas</h6>
         <p style="text-align: center;">{{producto.cantidad}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
</div>









