/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.css";

/* My styles*/

/* .ng-invalid:not(form){
    border-left: 5px solid red;
}

.ng-valid:not(form){
    border-left: 5px solid green;
} */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.mat-figure {
  display: inline;
}

formUser.normal-form {
  margin: 50px;
  width: 500px;
}

.controles-container {
  width: 100%;
  padding: 20%;
  padding-top: 25%;
}

.controles-container > * {
  width: 100%;
}

.button-row button {
  margin: 5px;
}

.form-container {
  width: 50%;
  padding: 10px;
  padding-top: 10%;
  position: relative;
}

.form-direccion {
  width: 50%;

  position: relative;
}

.form-container > * {
  width: 100%;
}

mat-grid-tile.ng-star-inserted > figure:nth-child(1) {
  display: block;
}

/* notificacion*/

snack-bar-container.success {
  background-color: green;
  color: #fff;
}

snack-bar-container.warning {
  background-color: red;
  color: black;
}

snack-bar-container.notification simple-snack-bar {
  font-size: 15px !important;
  font-weight: bold;
}
