table {
    width: 100%;
}

#carritoCompra {
    background-color: white;
}

h2 {
    text-align: center;
}


/* Style for table */

.example-container {
    height: 170px;
    overflow: auto;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}


/* End of  Style for table */

.noFiles {
    text-align: center;
}