#carritoCompra {
  background-color: white;
}

h2 {
  text-align: center;
}

/* Style for table */

.example-container {
  height: 170px;
  overflow: auto;
}

mat-card {
  height: 140px;
}

.remove-btn {
  position: relative;
  bottom: 55px;
  left: 120px;
}
