<!-- <div class="container mt-5">
  <h2>Stripe Checkout</h2>
  <div class="row mt-5">
    <div class="col-md-4">
      <button (click)="pay(20)" class="btn btn-primary btn-block">Pay $20</button>
    </div>
    <div class="col-md-4">
      <button (click)="pay(30)" class="btn btn-success btn-block">Pay $30</button>
    </div>
    <div class="col-md-4">
      <button (click)="pay(50)" class="btn btn-info btn-block">Pay $50</button>
    </div>
  </div>
  <p class="mt-5">
      Try it out using the test card number <b>4242 4242 4242 4242</b>, a random three-digit CVC number, any expiration date in the future, and a random five-digit U.S. ZIP code.
  </p>
</div> -->



<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 mr-auto ml-auto">
      <div class="panel panel-default">
        <form [formGroup]="customStripeForm" (ngSubmit)="pay(customStripeForm.value)">
          <div class="panel-body mt-5">
            <h4>Stripe - Custom form demo</h4>
            <p><b>{{ message }}</b></p>
            <div class="row">
             <div class="col">
                <div class="form-group">
                  <input type="text" formControlName="name" class="form-control" placeholder="Nombre" name="name"
                    maxlength="18" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="text" formControlName="lastname" class="form-control" placeholder="Apellido"
                    name="lastname" maxlength="18" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <input type="email" formControlName="email" class="form-control" placeholder="email" name="email"
                    maxlength="18" />
                </div>
              </div>
             </div>
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <div class="form-group">
                  <label>CARD NUMBER</label>
                  <div class="input-group">
                    <input type="text" formControlName="cardNumber" class="form-control" placeholder="Valid Card Number"
                      name="cardNumber" maxlength="18" />
                    <span class="input-group-addon">
                      <span class="fa fa-credit-card"></span>
                    </span>
                  </div>
                  <div *ngIf="submitted &amp;&amp; customStripeForm.controls.cardNumber.errors" class="text-danger">
                    <div *ngIf="customStripeForm.controls.cardNumber.errors.required">Card number is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7 col-md-7">
                <div class="form-group">
                  <label><span class="hidden-xs">EXPIRATION</span> Date</label>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <select formControlName="expMonth" class="form-control">
                          <option value="">Select Month</option>
                          <option value="1">01</option>
                          <option value="2">02</option>
                          <option value="3">03</option>
                          <option value="4">04</option>
                          <option value="5">05</option>
                          <option value="6">06</option>
                          <option value="7">07</option>
                          <option value="8">08</option>
                          <option value="9">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 pull-right">
                      <div class="form-group">
                        <select formControlName="expYear" class="form-control">
                          <option value="">Select Year</option>
                          <option value="20">2020</option>
                          <option value="21">2021</option>
                          <option value="22">2022</option>
                          <option value="23">2023</option>
                          <option value="24">2024</option>
                          <option value="25">2025</option>
                          <option value="26">2026</option>
                          <option value="27">2027</option>
                          <option value="28">2028</option>
                          <option value="29">2029</option>
                          <option value="30">2030</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="submitted &amp;&amp; customStripeForm.controls.expMonth.errors" class="text-danger">
                    <div *ngIf="customStripeForm.controls.expMonth.errors.required">Expiration month is required</div>
                  </div>

                  <div *ngIf="submitted &amp;&amp; customStripeForm.controls.expYear.errors" class="text-danger">
                    <div *ngIf="customStripeForm.controls.expYear.errors.required">Expiration year is required</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                <div class="form-group">
                  <label>CV CODE</label>
                  <input type="text" formControlName="cvv" class="form-control" placeholder="CVC" maxlength="4" />
                </div>
                <div *ngIf="submitted &amp;&amp; customStripeForm.controls.cvv.errors" class="text-danger">
                  <div *ngIf="customStripeForm.controls.cvv.errors.required">CVV is required</div>
                  <div *ngIf="customStripeForm.controls.cvv.errors.minlength">CVV must be at least 3 characters</div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <button class="btn btn-warning btn-lg btn-block" *ngIf="!formProcess">Process payment</button>
                <span class="btn btn-warning btn-lg btn-block" *ngIf="formProcess">Processing please wait...</span>
              </div>
            </div>
          </div>
        </form>
        <p class="mt-2">Try it out using the test card number 4242 4242 4242 4242, a random three-digit CVC number and
          any expiration date in the future.</p>
      </div>
    </div>
  </div>
</div> -->

<div class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" *ngIf="showSpinner"></mat-progress-spinner>
</div>
<!-- <mat-spinner *ngIf="showSpinner"></mat-spinner>-->
<form class="form-direccion" [formGroup]="customStripeForm" (ngSubmit)="pay(customStripeForm.value)" novalidate="">
  <h4>Stripe - Custom form demo</h4>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field hintLabel="Max 18 characters">

          <input matInput #name maxlength="18" placeholder="Nombre" formControlName="name" type="text">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{name.value?.length || 0}}/18</mat-hint>

          <mat-error *ngIf="customStripeForm.controls['name'].errors?.required">Este campo es
            <strong>requerido</strong></mat-error>
          <mat-error *ngIf="customStripeForm.controls['name'].errors?.minLength">Minimo caracteres requeridos 3
          </mat-error>
          <mat-error *ngIf="customStripeForm.controls['name'].errors?.maxLength">Maximo caracteres requeridos 18
          </mat-error>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field hintLabel="Max 18 characters">
          <input matInput #lastname maxlength="18" placeholder="Apellido" formControlName="lastname" type="text">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint align="end">{{lastname.value?.length || 0}}/18</mat-hint>
          <mat-error *ngIf="customStripeForm.controls['lastname'].errors?.required">Este campo es <strong>
              requerido</strong></mat-error>
          <mat-error *ngIf="customStripeForm.controls['lastname'].errors?.minLength">Minimo caracteres requeridos
            3
          </mat-error>
          <mat-error *ngIf="customStripeForm.controls['lastname'].errors?.maxLength">Maximo caracteres requeridos
            30
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="customStripeForm.controls['email'].errors?.email">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="customStripeForm.controls['email'].errors?.required">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field hintLabel="Max 18 characters">
          <input matInput #cardNumber maxlength="18" placeholder="Valid Card Number" formControlName="cardNumber"
            type="text">
          <mat-icon matSuffix>credit_card</mat-icon>
          <mat-hint align="end">{{cardNumber.value?.length || 0}}/18</mat-hint>
          <mat-error *ngIf="customStripeForm.controls['cardNumber'].errors?.required">Este campo es <strong>
              requerido</strong></mat-error>
          <mat-error *ngIf="customStripeForm.controls['cardNumber'].errors?.minLength">Minimo caracteres requeridos
            3
          </mat-error>
          <mat-error *ngIf="customStripeForm.controls['cardNumber'].errors?.maxLength">Maximo caracteres requeridos
            18
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label><span>Expiation</span> Date</mat-label>
          <mat-select placeholder="Expiation date*" formControlName="expMonth">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let month of months" [value]="month.id">{{month.value}}</mat-option>
          </mat-select>
          <mat-error *ngIf="customStripeForm.controls['expMonth'].errors?.required">Este campo es
            <strong>requerido</strong></mat-error>
          <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Year</mat-label>
          <mat-select placeholder="year" formControlName="expYear">
            <mat-option *ngFor="let exp of expYears" [value]="exp.id">{{exp.value}}</mat-option>
          </mat-select>
          <mat-error *ngIf="customStripeForm.controls['expYear'].errors?.required">Este campo es
            <strong>requerido</strong></mat-error>
          <mat-icon matSuffix>date_range</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field hintLabel="Max 3 characters">
          <input matInput #cvv maxlength="3" placeholder="Cv code" formControlName="cvv" type="text">
          <mat-icon matSuffix>code</mat-icon>
          <mat-hint align="end">{{cvv.value?.length || 0}}/3</mat-hint>
          <mat-error *ngIf="customStripeForm.controls['cvv'].errors?.required">Este campo es <strong>
              requerido</strong></mat-error>
          <mat-error *ngIf="customStripeForm.controls['cvv'].errors?.minLength">Minimo caracteres requeridos
            3
          </mat-error>
          <mat-error *ngIf="customStripeForm.controls['cvv'].errors?.maxLength">Maximo caracteres requeridos
            3
          </mat-error>
        </mat-form-field>
      </td>


    </tr>
  </table>
  <div class="button-form">
    <button mat-raised-button type="submit" [disabled]="customStripeForm.invalid">Process payment</button>

  </div>
