<p>
  footer-home works!
</p>

<!-- <footer id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <form class="card mt-4">
            <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
              </div>
              <button class="btn btn-outline-secondary btn-block">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer> -->
