
<div class="footer">
<div class="row">
        <div class="col-md-4">
          <h2>Nuestras categorias</h2>
             <ul>
                <li><a href="" class="hoverCascos"><span><i class="fas fa-motorcycle"></i></span>Cascos</a></li>
                <li><a href="" class="hoverChalecos"><span></span>Chalecos</a></li>
                <li><a href="">Visores</a></li>
                <li><a href="">Guantes</a></li>
                <li><a href="">Acesorios </a> </li>
            </ul>


          </div>
        <div class="col-md-4">
          <h2>Sigenos</h2>
          <nav class="redes-sociales">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>

          </nav>
          </div>
          <div class="col-md-4">
              <h2>Contactenos
              <span>telefono:</span>
              <span> correo:</span>
              <span>Celular:</span>
              <span> what's up:</span>
            </h2>
          </div>
        </div>



</div>
<div class="row ">
    <div class="col-md-12" style="background-color: black ; height: 100px;">
   </div>
</div>


