.producto-card{
  width: 15rem;
  height: 260px;
  text-align: center;
  margin-bottom: 27px;
}

.btn-info , .btn-success{
  visibility: hidden;
}

.producto-card:hover{
  height: auto;
  transform: scale(1.1);
  transition: all .1s;
  visibility: visible;
}

.producto-card:hover .btn-success  {
  visibility: visible;
}

.producto-card:hover  .btn-info {
  visibility: visible;
}


.card-img-top{
  width: 8rem;
}


mat-card-title{
  text-align: center;
}

.container{
  padding-top: 75px;

}

#carrito{
  position: absolute;
  left: 500px;
  top: 130px;
  opacity: 0.8;
  }

