.actionsResumenCompraButtons button {
  margin-right: 8px;
  margin-top: 8px;
}

/* Style for table */
.example-container {
  height: 170px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

/* End of  Style for table */

/* Style for Stepper */
/* ::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
} */

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}
