<h2 class="text-center">Nuestros testimonios los demuestran</h2>

<div class="container">
   <div class="row pb-2">
      <div class="col-md-4">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
          </mat-card-header>

          <mat-card-content>
            <p></p>
          </mat-card-content>
          <mat-card-footer>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
             </mat-card-footer>

        </mat-card>

      </div>
    </div>
</div>
