.card {
  max-width: 400px;
  padding-bottom: 5px;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

img{
  position: relative;
  left: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%

}
